{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        http-kit/http-kit {:mvn/version "2.6.0"}
        twitter-api/twitter-api {:mvn/version "1.8.0"}
        jarohen/chime {:mvn/version "0.3.3"}
        aero/aero {:mvn/version "1.1.6"}
        failjure/failjure {:mvn/version "2.2.0"}}
 :paths ["src" "resources"]
 :aliases {:deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "replikativ-datahike.jar"]}

           :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :local
                                 :artifact "replikativ-datahike.jar"}}

           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.0"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}

           :ffix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.0"}}
                  :main-opts ["-m" "cljfmt.main" "fix"]}

           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "2526f58"}
                          borkdude/gh-release-artifact {:git/url "https://github.com/borkdude/gh-release-artifact"
                                                        :sha "b3f5b4ddfa7600191da176a752f161a91f0b8f9c"}
                          babashka/babashka.curl {:mvn/version "0.1.2"}
                          babashka/fs {:mvn/version "0.1.11"}
                          com.google.cloud.tools/jib-core {:mvn/version "0.20.0"}
                          cheshire/cheshire {:mvn/version "5.11.0"}}
                   :ns-default build}}}
