{:port 3000
 :log {:level :debug}
 :slack {:announcement "Version %s of %s was just released. Find the changelog or get in contact with us <%s|over on GitHub.>"
         :hook-url #env SLACK_HOOK_URL
         :channel "#datahike"}
 :github {:token #env GITHUB_TOKEN}
 :scheduler {:announcement "In a quarter hour we will have our weekly open-source meeting
             where we are talking about the latest progress on Datahike and
             other replikativ libraries. Please join on <https://meet.jit.si/DatahikeWeekly|Jitsi>"
             :hour 15
             :minute 45}
 :twitter {:announcement "Version %s of %s was just released. Take a look at the changelog over on GitHub: %s"
           :api-key "xUX4IKD7Uq5Fl4MXGBveWsjxA"
           :api-secret #env TWITTER_API_SECRET
           :access-token "282003322-oKYpQl3NwnP0cPW9aIyZqKyV08poYgFrr5T0YsEN"
           :access-token-secret #env TWITTER_ACCESS_TOKEN_SECRET}}
