{:port 3000
 :log {:level :debug}
 :slack {:announcement "Version %s of %s was just released. Find the changelog or get in contact with us <%s|over on GitHub.>"
         :hook-url #env SLACK_HOOK_URL
         :channel "#datahike"}
 :github {:token #env GITHUB_TOKEN}
 :scheduler {:announcement "In a quarter hour we will have our weekly open-source meeting
where we are talking about the latest progress on Datahike and
other replikativ libraries. Please join on <https://meet.jit.si/DatahikeWeekly|Jitsi>"
             :hour 16
             :minute 45
             :dow :thursday
             :zone "Europe/Berlin"}}
